<p id="notice"><%= notice %></p>

<p>
  <strong>Image:</strong>
  <%= image_tag(@image.photo.url(:medium)) %>
</p>

<p>
  <strong>Main:</strong>
  <%= @image.main %>
</p>

<%= link_to 'Edit', edit_project_image_path(@project, @image) %> |
<%= link_to 'Back', project_images_path(@project, @image) %>
