<p id="notice"><%= notice %></p>

<p>
  <strong>Project:</strong>
  <%= @image.project %>
</p>

<p>
  <strong>Main:</strong>
  <%= @image.main %>
</p>

<%= link_to 'Edit', edit_image_path(@image) %> |
<%= link_to 'Back', images_path %>
